@import './sass/utils';

.user-repos__container{
  overflow:auto;
  width: 90%;
  margin-block:50px;
  margin-inline: auto;

  .user-name--text{
    margin-left: 20px;
    font-size: 17px;
  }

  .user--profile-link{
    font-weight: 600;
  }

  .repo-name{
    display:flex;
    & > span {
      margin-right : 10px;
    }

    &--text{
      width:200px;
      display: block;
      @extend .text-ellipsis

    }
  }
  .forked-users{
    display: flex;
    align-items: center;
    margin-bottom : 10px;

    & > span {
      margin-right : 10px;
    }

    &--avatar{
      cursor: pointer;
    }
  }

  .file-type{
    &--tag{
      display: inline-block;
      width: 70px;
      max-width: 70px;
      margin-bottom: 5px;
      @extend .text-ellipsis;
    }
  }
}
