.user-repos__container{
  height:80%;
  width: 90%;
  margin: 50px auto auto;

  .user-name--text{
    margin-left: 20px;
    font-size: 17px;
  }

  .user--profile-link{
    font-weight: 600;
  }

  .repo-name{
    display:flex;
    & > span {
      margin-right : 10px;
    }

    &--text{
      width:200px;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .forked-users{
    display: flex;
    align-items: center;
    margin-bottom : 10px;

    & > span {
      margin-right : 10px;
    }

    &--avatar{
      cursor: pointer;
    }
  }
}
