.antd-layout__container{
  height:auto;
  min-height: 100vh;
  &--header{
    height:10%;
    background-color:var(--color-black-1);

    .header--title{
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      color:var(--color-white-1);
    }
  }

  &--content{
    max-height : 50%;
    height     : 50%;
    min-height : 50%;
  }
}
